:root {
  --primary-color: #f0775aff;
  --secondary-color: #0b1a39ff;
  --accent-color: #ebe7caff;
  --text-color: #000000;
  --light-text: #333333;
  --background: #ffffff;
  --light-bg: #ffffff;
  --dark-bg: #0b1a39ff;
  --border-color: #ebe7caff;
  --shadow: rgba(11, 26, 57, 0.1);
  --shadow-hover: rgba(11, 26, 57, 0.2);
  --glass-bg: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
}
